.pagination-wrap {
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2em 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
